<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cook">  

 <select id         = "RecipeList"
           resultType = "com.green.recipe.vo.RecipeVo">
           
        SELECT
		RCP_NM,
		RCP_PARTS_DTLS,
		ATT_FILE_NO_MAIN,
		ATT_FILE_NO_MK,
		HASH_TAG,
		INFO_CAR,
		INFO_FAT,
		INFO_NA,
		INFO_PRO,
		INFO_WGT,
		MANUAL01,
		MANUAL_IMG01,
		MANUAL02,
		MANUAL_IMG02,
		MANUAL03,
		MANUAL_IMG03,
		MANUAL04,
		MANUAL_IMG04,
		MANUAL05,
		MANUAL_IMG05,
		MANUAL06,
		MANUAL_IMG06,
		RCP_NA_TIP,
		RECIPECOUNT,  
	    IDX
        FROM
        RECIPE
        <foreach collection="list" item="material" index="index" open=" WHERE (" close=")" separator=" or ">
		    RCP_PARTS_DTLS like '%' || #{material} || '%'
		</foreach>
        ORDER BY RCP_NM ASC

           </select>
           
           
 <select id         = "getRecipeList"
           resultType = "com.green.recipe.vo.RecipeVo">
           
        SELECT
		RCP_NM,
		RCP_PARTS_DTLS,
		ATT_FILE_NO_MAIN,
		ATT_FILE_NO_MK,
		HASH_TAG,
		INFO_CAR,
		INFO_FAT,
		INFO_NA,
		INFO_PRO,
		INFO_WGT,
		MANUAL01,
		MANUAL_IMG01,
		MANUAL02,
		MANUAL_IMG02,
		MANUAL03,
		MANUAL_IMG03,
		MANUAL04,
		MANUAL_IMG04,
		MANUAL05,
		MANUAL_IMG05,
		MANUAL06,
		MANUAL_IMG06,
		RCP_NA_TIP,
		RECIPECOUNT,  
	    IDX
        FROM
        RECIPE    
		WHERE    RCP_PARTS_DTLS like '%' || #{mat} || '%'
        ORDER BY RCP_NM ASC

           </select>
           
 <select id         = "Cook.getFinalRecipe"
           resultType = "com.green.recipe.vo.RecipeVo">
           
        SELECT
		RCP_NM,
		RCP_PARTS_DTLS,
		ATT_FILE_NO_MAIN,
		ATT_FILE_NO_MK,
		HASH_TAG,
		INFO_CAR,
		INFO_FAT,
		INFO_NA,
		INFO_PRO,
		INFO_WGT,
		MANUAL01,
		MANUAL_IMG01,
		MANUAL02,
		MANUAL_IMG02,
		MANUAL03,
		MANUAL_IMG03,
		MANUAL04,
		MANUAL_IMG04,
		MANUAL05,
		MANUAL_IMG05,
		MANUAL06,
		MANUAL_IMG06,
		RCP_NA_TIP,
		RECIPECOUNT,  
	    IDX
        FROM
        RECIPE    
		WHERE  RCP_NM = #{rCP_NM}  
        ORDER BY RCP_NM ASC

           </select>
           
           
   
   <delete id="Cook.deleteRecipe">
   
       DELETE   FROM  RECIPE_CNT
       WHERE  RECIPE_ID  =  #{userId} 
   
   </delete>          
           
           
           
           
           
          <select id="getTitle"
                  resultType="com.green.recipe.vo.RecipecntVo"   >
         
          SELECT  RCP_NM               
          FROM    RECIPE_CNT             
          </select>  
           
          <select id="getFinalList"
                  resultType="com.green.recipe.vo.RecipecntVo"   >
         
          SELECT  RCP_NM, RECIPE_ID, CNT   
          FROM    RECIPE_CNT   
          WHERE   CNT >= 3          
          ORDER BY CNT DESC
          </select>  
           

           <update id="insertTitle1">
 
           UPDATE RECIPE_CNT
           SET    CNT = CNT + 1
           WHERE  RCP_NM = #{ recipeTitle }
 
           </update>
          
             <insert id="insertTitle2">
  		  INSERT INTO RECIPE_CNT (
 		       RCP_NM, CNT ,  RECIPE_ID
 		   )
 		   VALUES (   
  	      #{recipeTitle}, 1 , #{userId}     
 		   )
 		   
		</insert> 
		
		 <update id="Cook.star">
 
           UPDATE USER_RECIPE
           SET    IDX = IDX + 1,
           SET    RECIPECOUNT + #{ rating }
 
           </update>
          
          
          
          
          
          
          
          
          
           
          <select id="MatarialList"
                  resultType="com.green.recipe.vo.MatarialVo"   >
         
          SELECT   MENU_ID
                 , MENU_NAME  
           FROM    MATERIAL
           WHERE   MENU_ID LIKE #{key} || '%'
         
          </select>
  
    <select id = "RecipeHan"
            resultType = "com.green.recipe.vo.RecipeVo">
            
            select 
            RCP_NM,
			RCP_PARTS_DTLS,
			ATT_FILE_NO_MAIN,
			ATT_FILE_NO_MK,
			HASH_TAG,
			INFO_CAR,
			INFO_FAT,
			INFO_NA,
			INFO_PRO,
			INFO_WGT,
			MANUAL01,
			MANUAL_IMG01,
			MANUAL02,
			MANUAL_IMG02,
			MANUAL03,
			MANUAL_IMG03,
			MANUAL04,
			MANUAL_IMG04,
			MANUAL05,
			MANUAL_IMG05,
			MANUAL06,
			MANUAL_IMG06,
			RCP_NA_TIP,
			RECIPECOUNT,  
	        IDX 
            
            
           FROM  RECIPE
           WHERE HASH_TAG = #{hashTag}       
                   
    
            </select>
  
  
  <select id = "RecipeTitle"
            resultType = "com.green.recipe.vo.RecipeVo">
            
            select 
            RCP_NM,
			RCP_PARTS_DTLS,
			ATT_FILE_NO_MAIN,
			ATT_FILE_NO_MK,
			HASH_TAG,
			INFO_CAR,
			INFO_FAT,
			INFO_NA,
			INFO_PRO,
			INFO_WGT,
			MANUAL01,
			MANUAL_IMG01,
			MANUAL02,
			MANUAL_IMG02,
			MANUAL03,
			MANUAL_IMG03,
			MANUAL04,
			MANUAL_IMG04,
			MANUAL05,
			MANUAL_IMG05,
			MANUAL06,
			MANUAL_IMG06,
			RCP_NA_TIP,
			RECIPECOUNT,  
	        IDX
            
            
           FROM  RECIPE
           WHERE RCP_NM = #{recipeTitle}      
                   
    
            </select>
  
  <select id = "RecipeQuery"
            resultType = "com.green.recipe.vo.RecipeVo">
            
            select 
            RCP_NM,
			RCP_PARTS_DTLS,
			ATT_FILE_NO_MAIN,
			ATT_FILE_NO_MK,
			HASH_TAG,
			INFO_CAR,
			INFO_FAT,
			INFO_NA,
			INFO_PRO,
			INFO_WGT,
			MANUAL01,
			MANUAL_IMG01,
			MANUAL02,
			MANUAL_IMG02,
			MANUAL03,
			MANUAL_IMG03,
			MANUAL04,
			MANUAL_IMG04,
			MANUAL05,
			MANUAL_IMG05,
			MANUAL06,
			MANUAL_IMG06,
			RCP_NA_TIP,
			RECIPECOUNT,  
	        IDX
            
            
           FROM  RECIPE
           WHERE RCP_NM LIKE '%' || #{query} || '%'      
                   
    
            </select>
  
  
   	<select id = "RecipeCount"
   			resultType = "com.green.recipe.vo.RecipeVo">
   	
    SELECT 
    RCP_NM,
    RCP_PARTS_DTLS,
    ATT_FILE_NO_MAIN,
    ATT_FILE_NO_MK,
    HASH_TAG,
    INFO_CAR,
    INFO_FAT,
    INFO_NA,
    INFO_PRO,
    INFO_WGT,
    MANUAL01,
    MANUAL_IMG01,
    MANUAL02,
    MANUAL_IMG02, 
	MANUAL03, 
	MANUAL_IMG03, 
	MANUAL04, 
	MANUAL_IMG04, 
	MANUAL05, 
	MANUAL_IMG05, 
	MANUAL06, 
	MANUAL_IMG06, 
	RCP_NA_TIP,  
	RECIPECOUNT,  
	IDX
FROM (
   SELECT
    ROW_NUMBER() OVER(ORDER BY RECIPECOUNT DESC) AS row_num,
   	RCP_NM,
    RCP_PARTS_DTLS,
    ATT_FILE_NO_MAIN,
    ATT_FILE_NO_MK,
    HASH_TAG,
    INFO_CAR,
    INFO_FAT,
    INFO_NA,
    INFO_PRO,
    INFO_WGT,
    MANUAL01,
    MANUAL_IMG01,
    MANUAL02,
    MANUAL_IMG02, 
	MANUAL03, 
	MANUAL_IMG03, 
	MANUAL04, 
	MANUAL_IMG04, 
	MANUAL05, 
	MANUAL_IMG05, 
	MANUAL06, 
	MANUAL_IMG06, 
	RCP_NA_TIP,  
	RECIPECOUNT,  
	IDX
   FROM RECIPE
    )
    WHERE row_num BETWEEN 0 AND 12
    		
   	</select>
   	
   	<select id="CookView"
   	      resultType="com.green.recipe.vo.RecipeVo">
   	      
   	       SELECT 
	    RCP_NM,
	    RCP_PARTS_DTLS,
	    ATT_FILE_NO_MAIN,
	    ATT_FILE_NO_MK,
	    HASH_TAG,
	    INFO_CAR,
	    INFO_FAT,
	    INFO_NA,
	    INFO_PRO,
	    INFO_WGT,
	    MANUAL01,
	    MANUAL_IMG01,
	    MANUAL02,
	    MANUAL_IMG02, 
		MANUAL03, 
		MANUAL_IMG03, 
		MANUAL04, 
		MANUAL_IMG04, 
		MANUAL05, 
		MANUAL_IMG05, 
		MANUAL06, 
		MANUAL_IMG06, 
		RCP_NA_TIP,  
		RECIPECOUNT,  
		IDX
		FROM RECIPE
		WHERE IDX = #{ idx }
   	      
   	      
   	      </select>

 <update id="CountUpdate">
 
  UPDATE RECIPE
  SET    RECIPECOUNT = RECIPECOUNT + 1
  WHERE  IDX = #{ idx }
 
 </update>
 
 
 
<insert id="Cook.UserRecipeWithManual06">
    INSERT INTO USER_RECIPE (
        USERID,
        RCP_NM,
        RCP_PARTS_DTLS,
        HASH_TAG,
        INFO_CAR,
        INFO_FAT,
        INFO_NA,
        INFO_PRO,
        MANUAL01,
        MANUAL02,
        MANUAL03,
        MANUAL04,
        MANUAL05,
        MANUAL06,
        MANUAL_IMG01,
        MANUAL_IMG02,
        MANUAL_IMG03,
        MANUAL_IMG04,
        MANUAL_IMG05,
        MANUAL_IMG06,
        RCP_NA_TIP,
        ATT_FILE_NO_MAIN
    )
    VALUES (   
        #{USERID},
        #{RCP_NM},
        #{RCP_PARTS_DTLS},
        #{HASH_TAG},
        #{INFO_CAR},
        #{INFO_FAT},
        #{INFO_NA},
        #{INFO_PRO},
        #{MANUAL01},
        #{MANUAL02},
        #{MANUAL03},
        #{MANUAL04},
        #{MANUAL05},
        #{MANUAL06},
        #{MANUAL_IMG01},
        #{MANUAL_IMG02},
        #{MANUAL_IMG03},
        #{MANUAL_IMG04},
        #{MANUAL_IMG05},
        #{MANUAL_IMG06},
        #{RCP_NA_TIP},
        #{ATT_FILE_NO_MAIN}
    ) 
</insert>

<insert id="Cook.UserRecipeWithManual05">
    INSERT INTO USER_RECIPE (
        USERID,
        RCP_NM,
        RCP_PARTS_DTLS,
        HASH_TAG,
        INFO_CAR,
        INFO_FAT,
        INFO_NA,
        INFO_PRO,
        MANUAL01,
        MANUAL02,
        MANUAL03,
        MANUAL04,
        MANUAL05,
        MANUAL_IMG01,
        MANUAL_IMG02,
        MANUAL_IMG03,
        MANUAL_IMG04,
        MANUAL_IMG05,
        RCP_NA_TIP,
        ATT_FILE_NO_MAIN
    )
    VALUES (   
        #{USERID},
        #{RCP_NM},
        #{RCP_PARTS_DTLS},
        #{HASH_TAG},
        #{INFO_CAR},
        #{INFO_FAT},
        #{INFO_NA},
        #{INFO_PRO},
        #{MANUAL01},
        #{MANUAL02},
        #{MANUAL03},
        #{MANUAL04},
        #{MANUAL05},
        #{MANUAL_IMG01},
        #{MANUAL_IMG02},
        #{MANUAL_IMG03},
        #{MANUAL_IMG04},
        #{MANUAL_IMG05},
        #{RCP_NA_TIP},
        #{ATT_FILE_NO_MAIN}
    ) 
</insert>

<insert id="Cook.UserRecipeWithManual04">
    INSERT INTO USER_RECIPE (
        USERID,
        RCP_NM,
        RCP_PARTS_DTLS,
        HASH_TAG,
        INFO_CAR,
        INFO_FAT,
        INFO_NA,
        INFO_PRO,
        MANUAL01,
        MANUAL02,
        MANUAL03,
        MANUAL04,
        MANUAL_IMG01,
        MANUAL_IMG02,
        MANUAL_IMG03,
        MANUAL_IMG04,
        RCP_NA_TIP,
        ATT_FILE_NO_MAIN
    )
    VALUES (   
        #{USERID},
        #{RCP_NM},
        #{RCP_PARTS_DTLS},
        #{HASH_TAG},
        #{INFO_CAR},
        #{INFO_FAT},
        #{INFO_NA},
        #{INFO_PRO},
        #{MANUAL01},
        #{MANUAL02},
        #{MANUAL03},
        #{MANUAL04},
        #{MANUAL_IMG01},
        #{MANUAL_IMG02},
        #{MANUAL_IMG03},
        #{MANUAL_IMG04},
        #{RCP_NA_TIP},
        #{ATT_FILE_NO_MAIN}
    ) 
</insert>

<insert id="Cook.UserRecipeWithManual03">
    INSERT INTO USER_RECIPE (
        USERID,
        RCP_NM,
        RCP_PARTS_DTLS,
        HASH_TAG,
        INFO_CAR,
        INFO_FAT,
        INFO_NA,
        INFO_PRO,
        MANUAL01,
        MANUAL02,
        MANUAL03,
        MANUAL_IMG01,
        MANUAL_IMG02,
        MANUAL_IMG03,
        RCP_NA_TIP,
        ATT_FILE_NO_MAIN
    )
    VALUES (   
        #{USERID},
        #{RCP_NM},
        #{RCP_PARTS_DTLS},
        #{HASH_TAG},
        #{INFO_CAR},
        #{INFO_FAT},
        #{INFO_NA},
        #{INFO_PRO},
        #{MANUAL01},
        #{MANUAL02},
        #{MANUAL03},
        #{MANUAL_IMG01},
        #{MANUAL_IMG02},
        #{MANUAL_IMG03},
        #{RCP_NA_TIP},
        #{ATT_FILE_NO_MAIN}
    ) 
</insert>

<insert id="Cook.UserRecipeWithManual02">
    INSERT INTO USER_RECIPE (
        USERID,
        RCP_NM,
        RCP_PARTS_DTLS,
        HASH_TAG,
        INFO_CAR,
        INFO_FAT,
        INFO_NA,
        INFO_PRO,
        MANUAL01,
        MANUAL02,
        MANUAL_IMG01,
        MANUAL_IMG02,
        RCP_NA_TIP,
        ATT_FILE_NO_MAIN
    )
    VALUES (   
        #{USERID},
        #{RCP_NM},
        #{RCP_PARTS_DTLS},
        #{HASH_TAG},
        #{INFO_CAR},
        #{INFO_FAT},
        #{INFO_NA},
        #{INFO_PRO},
        #{MANUAL01},
        #{MANUAL02},
        #{MANUAL_IMG01},
        #{MANUAL_IMG02},
        #{RCP_NA_TIP},
        #{ATT_FILE_NO_MAIN}
    ) 
</insert>

<insert id="Cook.UserRecipeWithManual01">
    INSERT INTO USER_RECIPE (
        USERID,
        RCP_NM,
        RCP_PARTS_DTLS,
        HASH_TAG,
        INFO_CAR,
        INFO_FAT,
        INFO_NA,
        INFO_PRO,
        MANUAL01,
        MANUAL_IMG01,
        RCP_NA_TIP,
        ATT_FILE_NO_MAIN
    )
    VALUES (   
        #{USERID},
        #{RCP_NM},
        #{RCP_PARTS_DTLS},
        #{HASH_TAG},
        #{INFO_CAR},
        #{INFO_FAT},
        #{INFO_NA},
        #{INFO_PRO},
        #{MANUAL01},
        #{MANUAL_IMG01},
        #{RCP_NA_TIP},
        #{ATT_FILE_NO_MAIN}
    ) 
</insert>
 
 <select id = "UserRecipe"
            resultType = "com.green.recipe.vo.User_RecipeVo2">          	      
            select 
            USERID,
            RCP_NM,
			RCP_PARTS_DTLS,
			ATT_FILE_NO_MAIN,
			HASH_TAG,
			INFO_CAR,
			INFO_FAT,
			INFO_NA,
			INFO_PRO,
			MANUAL01,
			MANUAL_IMG01,
			MANUAL02,
			MANUAL_IMG02,
			MANUAL03,
			MANUAL_IMG03,
			MANUAL04,
			MANUAL_IMG04,
			MANUAL05,
			MANUAL_IMG05,
			MANUAL06,
			MANUAL_IMG06,
			RCP_NA_TIP,
			RECIPECOUNT,  
	        IDX       
           FROM  USER_RECIPE                 
    
            </select>
 
 
 <select id = "UserRecipeTitle"
            resultType = "com.green.recipe.vo.RecipeVo">
            
            select 
            RCP_NM,
			RCP_PARTS_DTLS,
			HASH_TAG,
			INFO_CAR,
			INFO_FAT,
			INFO_NA,
			INFO_PRO,
			MANUAL01,
			MANUAL02,
			MANUAL03,
			MANUAL04,
			MANUAL05,
			MANUAL06,
			RCP_NA_TIP,
			RECIPECOUNT,  
	        IDX
                    
           FROM  USER_RECIPE
           WHERE RCP_NM = #{recipeTitle}      
                   
    
            </select>
 
 

 
 
 
 
 
 
 
 
</mapper>





   